.App {
  text-align: center;
  height: 90vh;
}

.dis_flex {
  display: flex;
}

.flex_coln {
  flex-direction: column;
}

.just_center {
  justify-content: center;
}

.just_btw {
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.align_end {
  align-items: flex-end;
}

.btn {
  margin: 4px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  padding: .2rem .5rem;
  border-radius: 0.4rem;
  color: var(--color-primary);
  transition: var(--transition);
  border: 1px solid var(--color-primary);
}

.btn:hover {
  color: var(--color-bg);
  border-color: transparent;
  background-color: var(--color-white);
}

.m5 {
  margin: 5px;
}

.arial_hide {
  display: none;
}

.cur {
  cursor: pointer;
}